.media-wrapper {
    align-items: center;
    background-color: #282c33;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: fit-content;
  }
  
  .media-wrapper .line-stroke-2 {
    height: 191px;
    min-width: 1px;
    position: relative;
  }
  
  .media-wrapper .frame-16 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: fit-content;
  }
  
  .media-wrapper .icon-instance-node {
    height: 32px !important;
    min-width: 32px !important;
    position: relative !important;
  }
  