.header-link {
    align-items: flex-start;
    display: flex;
    position: relative;
    width: fit-content;
  }
  
  .header-link .element-2 {
    color: #c778dd;
    font-family: "Fira Code", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .header-link .home-2 {
    font-family: "Fira Code", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .header-link .state-0-active {
    font-weight: 500;
  }
  
  .header-link .state-0-default {
    font-weight: 400;
  }
  
  .header-link .state-0-hover {
    font-weight: 400;
  }
  
  .header-link .state-1-active {
    color: #ffffff;
    font-weight: 500;
  }
  
  .header-link .state-1-default {
    color: #abb2bf;
    font-weight: 400;
  }
  
  .header-link .state-1-hover {
    color: #ffffff;
    font-weight: 400;
  }
  